* {
    box-sizing: border-box !important; 
}

.submitButtonDiv {
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
}

.submitButtonDiv > #start {
    padding: 15px;
    color: white;
    font-size: 1.2rem;
    border: 0;
    background-color: #960000;
    cursor: pointer;
}

#options 
{
    margin: 0 calc(20% - 40px); 
    padding: 0 40px; 
    background-color: #333333; 
    padding-bottom: 10px; 
    margin-bottom: -50px; 
}

#mainsection {
    background-color: #232323; 
    padding: 0; 
    margin: 0; 
}

#rightPart > h1 {
    margin-top: 0;
}

.field {
    display: block;
    padding-bottom: 5px;
}

.field > * {
    display: inline;
}

.field > input,
.field > select {
    margin-left: 10px;
    padding: 5px;
    color: white;
    background: #222222;
}

input {
    border: 1px solid rgb(118, 118, 118); /* Default used for borders */
}

.desc {
    display: block;
    font-size: 0.8rem;
    color: rgb(200, 200, 200);
    margin-top: 3px;
}

.units {
    margin-left: 5px;
    font-size: 0.8rem;
}

.rightPartHeader {
    margin-top: 20px;
    margin-bottom: 5px;
}

#pageList {
    list-style-type: none;
    margin-top: 0;
    padding-left: 0;
}

#pageList > li {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px black solid;
    padding: 0;
}

#pageList > li > a {
    color: white;
    text-decoration: none;
    display: block;
    /* padding: 20px; */
}

.style > h4 {
    margin-bottom: 0;
}

.style > p {
    margin: 0;
}

input {
    background-color: #222222;
    color: white;
}

.constraints {
    font-size: 12px;
}

.style > p > input {
    margin-left: 10px;
}

.style > div {
    margin: 2px 0;
}

/* Adds gradual nesting / indentation to segment style subsections */
.traveler,
.wobble {
    padding-left: 20px;
}

/* Tweak space under the section headings */
#segmentStyles > h4 {
    margin-bottom: 5px;
}
.traveler {
    margin: 5px 0;
}
.traveler > h5,
.wobble > h5 {
    margin-bottom: 0;
}

button {
    background-color: #232323;
    color: white;
    padding: 5px;
    border: 1px gray solid;
}

#progress > p {
    font-weight: bold;
    margin: 0;
    z-index: 2;
}

#done {
    z-index: 1;
    width: 0%;
    height: 100%;
    margin-top: -49px;
    background-color: green;
}

#progressContainer 
{
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 50px;
    background-color: #454545;
    margin-left: -15px;
    text-align: center;
    line-height: 50px;
}

#progressContainer 
{
    text-align: left; 
}
#progressContainer > .submitButtonDiv {
    vertical-align: top; 
    width: 100px; 
    display: inline-block; 
}

#progress {
    position: absolute; 
    left: 115px; /* To the right of the button */ 
    vertical-align: top; 
    width: calc(100% - 115px); 
    display: inline-block; 
    height: 50px; 
}
#progressText {
    width: 100%; 
    text-align: center; 
}

#start {
    margin-top: 0; 
    width: 115px; 
}

#options > div:last-of-type {
    margin-bottom: 100px; 
}

h1 {
    padding-top: 20px; 
    margin-top: 0; 
}
