#progress > p {
    font-weight: bold;
    margin: 0;
    z-index: 2;
}

#done {
    z-index: 1;
    width: 0%;
    height: 100%;
    margin-top: -49px;
    background-color: green;
}

#progressContainer {
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 50px;
    background-color: #454545;
    margin-left: -15px;
    text-align: center;
    line-height: 50px;
}

#progressContainer {
    text-align: left;
}
#progressContainer > .submitButtonDiv {
    vertical-align: top;
    width: 115px;
    display: inline-block;
}

#progress {
    position: absolute;
    left: 130px; /* To the right of the button */
    vertical-align: top;
    width: calc(100% - 130px);
    display: inline-block;
    height: 50px;
}
#progressText {
    width: 100%;
    text-align: center;
}

#start {
    width: 115px;
    text-align: center;
}

#options > div:last-of-type {
    margin-bottom: 100px;
}

h1 {
    padding-top: 20px;
    margin-top: 0;
}
