#layerList {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    height: 100%;
    list-style-type: none;
    margin-top: 0px;
    max-height: 100%;
    margin-bottom: 0;
    background-color: #8c0000;
    overflow-y: scroll;
    border-left: 1px black solid;
    border-right: 1px black solid;
    padding-left: 0;
}

#layerList > li {
    text-align: left;
    width: 180px; /* 50px for thumbnail, 150px for layer name, 20px for scrollbar */
    height: 50px;
    border-bottom: 1px black solid;
    margin-left: 0;
}

#layerList > li > p {
    display: inline-block;
    line-height: 50px;
    width: 130px; /* Scroll bar is 20px */
    box-sizing: border-box;
    vertical-align: top;
    padding: 0 20px;
    margin: 0;
}

#layerList > li > img {
    width: 50px;
    height: 100%;
    display: inline-block;
    margin: 0;
}