<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
        <!-- 
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; script-src 'self'"
    />
    <meta
      http-equiv="X-Content-Security-Policy"
      content="default-src 'self'; script-src 'self'"
    />
    -->
        <link rel="stylesheet" href="../generate/generate.css" /> <!-- Long story... just keep it around -->
        <link rel="stylesheet" href="view.css" />
        <title>View Vectors | Scan Generation - The Ohio State Center for Design & Manufacturing Excellence</title>
    </head>
    <body>
        <nav>
            <img src="../../../static/logo.jpg" />
            <ul id="pageList">
                <li><a href="../generate/generate.html">Generate Vectors</a></li>
                <li id="ToViewVectorsScreen"><a href="./view.html">View Vectors</a></li>
                <li><a href="../importexport/importexport.html">Import/Export</a></li>
            </ul>
            <h1>CDME Scangen</h1>
            <div class="bottom">
                Node.js <span id="node-version"></span><br />
                Chromium <span id="chrome-version"></span><br />
                Electron <span id="electron-version"></span>
            </div>
        </nav>
        <div id="rightPart">
            <ul id="layerList"></ul>
            <div id="svgContainer">
                <div id="loading">Loading. Please wait a sec... (Progress: 0%)</div>
                <svg id="mainsvg"></svg>
                <div id="controlsPanel">
                    <button id="display">Display</button>
                    <button id="animate">Animate</button>
                    <button id="save">Save Layer Changes</button>
                </div>
                <div id="segmentDetails">
                    <div>
                        <h4>Segment Geometry</h4>
                        <p id="p1"></p>
                        <p id="p2"></p>
                        <p id="segStyle"></p>
                        <p id="segmentID"></p>
                    </div>
                    <div>
                        <h4>Segment Style</h4>
                        <p id="segmentStyleID"></p>
                        <p id="segmentStyleLaserMode"></p>
                        <ul id="travelersList"></ul>
                    </div>
                    <div>
                        <h4>Velocity Profile</h4>
                        <p id="velocityProfileID"></p>
                        <p id="velocityProfileVelocity"></p>
                        <p id="velocityProfileMode"></p>
                        <p id="velocityProfileJumpDelay"></p>
                        <p id="velocityProfileMarkDelay"></p>
                        <p id="velocityProfilePolygonDelay"></p>
                        <p id="velocityProfileLaserOnDelay"></p>
                        <p id="velocityProfileLaserOffDelay"></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- <script src="https://d3js.org/d3.v7.min.js"></script> -->
        <script src="view.js"></script>
        <script src="../navbar.js"></script>
    </body>
</html>
