body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    max-height: 100vh; /* Makes it so you can't scroll down and see any loading shenanigans */
}

#rightPart {
    margin: 0;
    padding: 0;
}

#svgContainer {
    /* 200px for layer list, 2px for side borders, 5px for I HAVE NO CLUE, BUT IT WORKS */
    width: calc(100% - 200px - 2px - 5px);
    max-height: calc(100% - 200px);
    display: inline-block;
    vertical-align: top;
    text-align: center;
    /* border: 1px blue solid; */
}

#svgContainer > div {
    margin: 5px 0; 
}

#controlPanel > span {
    margin-left: 5px; 
}

#mainsvg {
    max-height: 100%;
}

#layerList {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    height: 100%;
    list-style-type: none;
    margin-top: 0px;
    max-height: 100%;
    margin-bottom: 0;
    background-color: #8c0000;
    overflow-y: scroll;
    border-left: 1px black solid;
    border-right: 1px black solid;
    padding-left: 0;
}

#layerList > li {
    text-align: left;
    width: 180px; /* 50px for thumbnail, 150px for layer name, 20px for scrollbar */
    height: 50px;
    border-bottom: 1px black solid;
    margin-left: 0;
}

#layerList > li > p {
    display: inline-block;
    line-height: 50px;
    width: 130px; /* Scroll bar is 20px */
    box-sizing: border-box;
    vertical-align: top;
    padding: 0 20px;
    margin: 0;
}

#layerList > li > img {
    width: 50px;
    height: 100%;
    display: inline-block;
    margin: 0;
}

svg {
    background-color: white;
}

#mainsvg {
    margin-top: 10px; /* 150px is half our svg sizing of 300px; */
    border: 10px black solid;
    width: 100%;
    max-width: calc(100% - 20px);
    max-height: 400px;
}

#animationSpeed, #colorprofile {
    background-color: #333333; 
    color: white; 
    padding: 5px; 
    border: 1px gray solid; 
}

.controlsPanel {
    margin: 5px 0;
}

.controlsPanel > button {
    background-color: #3b3b3b;
    color: white;
    padding: 10px;
    font-size: 18px;
    border: 1px black solid;
}

.controlsPanel > button:hover {
    background-color: #5d5d5d;
}

/* Loading Overlay */
#loading {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    line-height: 100vh;
    background: rgb(64, 64, 64);
}

.selected {
    stroke: green;
}

#segmentDetails > div > p,
#segmentDetails > div > h4 {
    margin: 0;
    padding: 0;
    margin: 0 auto;
    line-height: normal;
    margin-block-start: 0 !important;
    margin-block-end: 0 !important;
}

#segmentDetails > div {
    background-color: rgb(80, 80, 80);
    display: inline-block;
    padding: 10px;
    margin: 10px;
    vertical-align: top;
    text-align: left;
}

#segmentDetails > div > ul {
    padding-left: 0;
    margin: 0;
}

#segmentDetails > div > ul > li {
    list-style-type: none;
}

#segmentDetails > div > ul > li > p,
#segmentDetails > div > ul > li > h5 {
    margin: 0;
}

#segmentDetails > div > ul > li > h5 {
    margin-top: 5px;
}

#checkboxes > label {
    margin-right: 10px;
}
